include mixin
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Zen Playground
    +css('css/bootstrap.css')
    style(type='text/css', media='screen').
      #editor-left {
        height: 600px;
        border: 1px solid black;
        border-radius: 3px;
      }
      #editor-right {
        height: 600px;
        border: 1px solid black;
        border-radius: 3px;
      }
  body
    .container(style='max-width: 960px; min-width: 780px;')
      nav.navbar.navbar-default(role='navigation')
        .container-fluid
          .navbar-header.navbar-right
            a.navbar-brand(href='#') Libzen Playground
          .collapse.navbar-collapse
            button#compile-btn.btn.btn-primary.navbar-btn(type='button')
              span.glyphicon.glyphicon-play
              | &nbsp; Compile
    .container(style='max-width: 960px; min-width: 780px;')
      .col-lg-6.col-md-6.col-sm-6.col-xs-6(style='padding-right: 0px;')
        #editor-left
          | function foo&lpar;items&rpar; &lcub;
          | var x &equals; &quot;All this is syntax highlighted&quot;&semi;
          | return x&semi;
          | &rcub;
      .col-lg-6.col-md-6.col-sm-6.col-xs-6(style='padding-left: 0px;')
        #editor-right
          | function foo&lpar;items&rpar; &lcub;
          | var x &equals; &quot;All this is syntax highlighted&quot;&semi;
          | return x&semi;
          | &rcub;
    .script
      +js('js/jquery.js')
      +js('js/bootstrap.min.js')
      +js('js/ace/ace.js')
      +js('index.js')
